.table-striped-red> tbody> tr {
    background-color: #4DD0E1;
    color: white;
    margin: 5px 0;
}
.table-striped-green> tbody> tr {
    background-color: #795548;
    color: white;
    margin: 5px 0;
}
.table-striped-red, .table-striped-green {
    width: 100%;
}

#sorted_notices th.date, #new_notices th.date {
  width: 20%
}
#sorted_notices th.tag, #new_notices th.tag {
	width: 12%;
}
#sorted_notices th.description, #new_notices th.description {
  width: 58%;
}
#sorted_notices th.amount, #new_notices th.sort {
  width: 5%;
}

.btn-blue{
	background-color: #4DD0E1;
	color: white;
	border-radius: 0;
}

.btn-brown{
	background-color: #795548;
	color: white;
	border-radius: 0;
}

.form-tags{
	color: black;
	border-radius: 5px;
	height: 100%;
  	padding: 3px 8px;
	text-align: center;
	display: block;
}

.tag-box {
	display: inline-block;
	border-radius: 5px;
	background-color: #FF5722;
	color: white;
	font-weight: bold;
	padding: 3px 7px;
}


.update_notice {
	background-color: white;
	border-radius: 5px;
	color: white;
	text-align: center;
}

.tag_form{
	width: 100%;
}

.footer{
	height: 60px;
}

.tag-container{
	display: inline-block;
	background-color: #FF5722;
	border-radius: 5px;
	color: white;
	width:auto;
	padding: 5px 7px;
	margin: 3px 0;
	font-weight: bold;
	text-align: center;
}

.tag-container:hover {
    background-color: #FFCCBC;
	cursor: pointer;
	color: #FF5722;
	font-weight: bold;
}
