.table-striped-red> tbody> tr {
    background-color: #4DD0E1;
    color: white;
    margin: 5px 0;
}
.table-striped-green> tbody> tr {
    background-color: #795548;
    color: white;
    margin: 5px 0;
}
.table-striped-red, .table-striped-green {
    width: 100%;
}

#sorted_notices th.date, #new_notices th.date {
  width: 20%
}
#sorted_notices th.tag, #new_notices th.tag {
	width: 12%;
}
#sorted_notices th.description, #new_notices th.description {
  width: 58%;
}
#sorted_notices th.amount, #new_notices th.sort {
  width: 5%;
}

.btn-blue{
	background-color: #4DD0E1;
	color: white;
	border-radius: 0;
}

.btn-brown{
	background-color: #795548;
	color: white;
	border-radius: 0;
}

.form-control{
	color: black;
	border-radius: 5px;
	height: 100%;
  	padding: 0 8px;
	text-align: center;
}

.tag-box {
	border-radius: 5px;
	background-color: white;
	color: #795548;
	font-weight: bold;
}


.update_notice {
	background-color: white;
	border-radius: 5px;
	color: white;
	text-align: center;
}
